body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    min-height: 100vh;
}

h1 span {
    font-weight: bold;
}

footer {
    font-size: 0.9rem;
    padding: 10px 0;
}
